* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    clear: both;
    overflow: auto;
}

.content-section {
    float: left;
    width: calc(33.333% - 40px);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    background-color: gray;
}

#section1 {
    margin-left: 0;
}

#section2, #section3 { /* Ensure the right margin is also 0 for section2 */
    margin-right: 0;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: 1px solid black;
    color: white;
    text-align: center;
    /* Removed the common background-color here, as it's set individually below */
}

/* Individual background colors for each section title */
#section1 .section-title {
    background-color: #ff4c4c; /* Example color: red */
}

#section2 .section-title {
    background-color: #008631; /* Example color: green */
}

#section3 .section-title {
    background-color: #4c4cff; /* Example color: blue */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 992px) {
    .content-section {
        width: calc(33.333% - 40px);
        margin: 20px;
    }
    
    #section1 {
        margin-left: 20px;
    }

    /* Adjust the margins for section2 and section3 for consistent spacing */
    #section2 {
        margin-left: 20px; /* Added for consistent spacing */
    }

    #section3 {
        margin-right: 20px;
    }
}
