* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    clear: both;
    overflow: auto; /* Added to contain floated children */
}

.content-section {
    float: left;
    width: calc(33.333% - 40px); /* Subtracting 20px margin from each side */
    padding: 20px;
    margin: 20px; /* Added margin */
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    background-color: gray;
    /* Clearfix for each section is not necessary if you have it on the container */
}

#section1 {
    margin-left: 0;
}

#section3 {
    margin-right: 0;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

/* The clearfix is generally applied to the container of floated elements */
/* You had a typo with the closing brace for .section-title above */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media (min-width: 992px) {
    .content-section {
        /* Adjust the width calculation if you change the margin */
        width: calc(33.333% - 40px);
        margin: 20px;
    }
    
    #section1 {
        margin-left: 20px;
    }
    
    #section3 {
        margin-right: 20px;
    }
}
