* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    clear: both;
}

.content-section {
    float: left;
    width: 33.333%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid black;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


@media (min-width: 992px) {
    .content-section {
        
        width: calc(33.3333% - 40px - 2px); 
    }
}
